{% extends "layout.twig" %}

{% block content %}
    <form action="/search" method="POST">
        <input type="text" class="text" name="query" placehoder="SEARCH" />
        <input type="submit" value="Search" />
    </form>
{% endblock %}

{% block search_results %}
    <h3>Searching for:</h3>
    <span>{{ search_phrase }}</span>

    <ul>
        {% for result in search_results %}
            <li>{{ result.score }} / {{ result.title }} / {{ result.author }} / {{ result.content }}</li>
        {% endfor %}
    </ul>
{% endblock %}